[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"0269f63" = {path = ".", editable = true}
pyopengl = "==3.1.0"
"pyopengl-accelerate" = "==3.1.0"
pyglet = "==1.2.4"

[dev-packages]
